# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# LaTeX build artefacts
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz

# Temporary files
*.tmp
*.bak
